In [ ]:
# Projeto de Análise de Crédito — SQL (AWS Athena)

Este notebook tem como objetivo documentar o processo de criação da tabela
e execução de consultas SQL no AWS Athena, conforme orientações do material da EBAC.

In [ ]:
## Criação da tabela no AWS Athena

Os dados foram armazenados em um bucket no Amazon S3 e, posteriormente,
foi criada uma tabela externa no AWS Athena para consulta dos dados.

In [ ]:
CREATE EXTERNAL TABLE credito (
  idade INT,
  sexo STRING,
  dependentes INT,
  escolaridade STRING,
  estado_civil STRING,
  salario_anual STRING,
  tipo_cartao STRING,
  qtd_produtos INT,
  iteracoes_12m INT,
  meses_inativo_12m INT,
  limite_credito DOUBLE,
  valor_transacoes_12m DOUBLE,
  qtd_transacoes_12m INT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
LOCATION 's3://bucket-transacoes-seunome/'
TBLPROPERTIES ('skip.header.line.count'='1');

In [ ]:
-- Total de clientes
SELECT COUNT(*) FROM credito;

-- Limite médio por tipo de cartão
SELECT tipo_cartao, AVG(limite_credito)
FROM credito
GROUP BY tipo_cartao;

-- Valor médio de transações por sexo
SELECT sexo, AVG(valor_transacoes_12m)
FROM credito
GROUP BY sexo;

In [ ]:
## Conclusão

O uso do AWS Athena permitiu a análise eficiente de grandes volumes de dados
armazenados no S3, possibilitando a geração de insights relevantes que
complementaram a análise exploratória realizada no Kaggle.